@using LEDE.Domain.Entities
@model EditModel
@{
    ViewBag.Title = "Edit";
}
@section css {
    <style>
        .btn {
            
        }
    </style>
}
<h2>Edit User</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.User.Id)
    <div class="form-group">
        <label>Username</label>
        @Html.TextBoxFor(x => x.User.UserName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>First Name</label>
        @Html.TextBoxFor(x => x.User.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Last Name</label>
        @Html.TextBoxFor(x => x.User.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>University ID</label>
        @Html.TextBoxFor(x => x.User.UniversityID, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input name="password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}
@Html.ActionLink("Delete", "Delete", new { id = Model.User.Id }, new { @class = "btn btn-default" })