@model LEDE_MVC.Models.TaskRatingViewModel

@{
    ViewBag.Title = "Task Evaluation";
}

<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm("Index", "TaskRatings"))
{
    @Html.AntiForgeryToken()
    <h4>Current Task</h4>
    <table>
        <tr>
            <td>
                @{string lastName = ViewBag.LastName ;}
                @Html.DropDownList("ID", null, htmlAttributes: new { @class = "form-control" });             
            </td>
            <td>
                @{string taskName = ViewBag.TaskName ;}
                @Html.DropDownList("TaskID", null, htmlAttributes: new { @class = "form-control" });
            </td>            
        </tr>
    </table>       
}

@using (Html.BeginForm("Rating", "TaskRatings"))
{
    @Html.AntiForgeryToken();
    <h4>Add A New Core Rating</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DropDownList("CoreTopicID", null, "Select Core Topic", htmlAttributes: new { @class = "form-control" })
            </th>
            <th>
                @Html.DropDownList("KnowTypeID", null, "Select Knowledge Type", htmlAttributes: new { @class = "form-control" })
            </th>
            <th>
                @Html.DropDownList("RatingScore", null, "Select Score", htmlAttributes: new { @class = "form-control" })
            </th>
            <th>
                <input class="btn btn-default" type="submit" value="Add" name="InsertButton" />
            </th>
        </tr>
    </table>
}

<h4>Existing Core Ratings</h4>
<table class="table">
    <tr>
        <th>
            Core Topic
        </th>
        <th>
            Knowledge Type
        </th>
        <th>
            Score
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.existingRatings)
    {
        if (item.RatingID == ViewBag.EditRatingID)
        {
            <tr>
                @using (Html.BeginForm("Rating", "TaskRatings"))
                {
                    @Html.AntiForgeryToken()
                    <td>
                        @Html.DisplayFor(modelItem => item.CoreRating.CoreTopic.CoreTopicDesc)
                    </td>
                    <td>
                        @Html.DropDownList("KnowTypeID", null, htmlAttributes: new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("RatingScore", null, htmlAttributes: new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.Hidden("RatingID", item.RatingID)
                        <input class="btn btn-default" type="submit" value="Cancel" name="CancelButton" />
                        <input class="btn btn-default" type="submit" value="Submit" name="SubmitButton" />
                    </td>
                }
            </tr>
        }
        else
        {
            <tr>
                @using (Html.BeginForm("Rating", "TaskRatings"))
                {
                    @Html.AntiForgeryToken()
                    <td>
                        @Html.DisplayFor(modelItem => item.CoreRating.CoreTopic.CoreTopicDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoreRating.Type.TypeCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RatingScore)
                    </td>
                    <td>
                        @Html.Hidden("RatingID", item.RatingID)
                        <input class="btn btn-default" type="submit" value="Edit" name="EditButton" />
                        <input class="btn btn-default" type="submit" value="Delete" name="DeleteButton" />
                    </td>
                }
            </tr>
        }

    }
</table>

