@using LEDE.Domain.Entities
@model RatingViewModel

@section script {
    <script src="~/Angular/angular.js"></script>
    <script src="~/Angular/angular-animate.js"></script>
    <script src="~/Angular/angular-resource.js"></script>
    <script src="~/Angular/app.js"></script>
    <script src="~/Angular/rate/gradeTable/gradeTable.directive.js"></script>
    <script src="~/Angular/services/ratingModels/ratingModels.service.js"></script>
    <script src="~/Angular/rate/rate.controller.js"></script>
}

@section css {
    <link href="~/Angular/rate/gradeTable/gradeTable.css" rel="stylesheet" />
}
<div class="page-header">
    <div class="row">
        <div class="col-md-9">
            <h2>@Model.TaskVersion.Task.TaskName</h2>
            <small>@Model.TaskVersion.User.LastName, @Model.TaskVersion.User.FirstName</small>
        </div>
        <div class="col-md-1">
            @using (Html.BeginForm("Header", "Rating", FormMethod.Post))
            {
                @Html.DropDownListFor(x => x.VersID, Model.VersionDrop,
                    new { style = "width:75px", onchange = "this.form.submit();", @class = "form-control" })
            }
        </div>
        <div class="col-md-2" style="text-align:right;">
            @Html.ActionLink("DL", "Download", new { DocumentID = Model.TaskVersion.DocumentID },
                new { @class = "btn btn-default", title = "Download Candidate Submission" })
            @Html.ActionLink("UL", "Upload", new
           {
               VersID = Model.TaskVersion.VersID,
               SelectedUserID =
                   Model.TaskVersion.UserID,
               User = Model.TaskVersion.User.FirstName + " " + Model.TaskVersion.User.LastName,
               TaskName = Model.TaskVersion.Task.TaskName,
               Version = Model.TaskVersion.Version,
               returnUrl = Request.Url.PathAndQuery
           },
           new { @class = "btn btn-default upload", title = "Upload Feedback For Submission" })
        </div>
    </div>
</div>

<div ng-app="facultyApp">
    <div ng-controller="RateCtrl" class="container">
        <div class="row">
            <h3>Seminar Core Topic Ratings</h3>
            <grade-table ratings="TaskRatings" rating-type="TaskRating"></grade-table>
        </div>        
        <div class="row">
            <h3>Other Core Topic Ratings</h3>
            <grade-table ratings="OtherRatings" rating-type="OtherRating"></grade-table>
        </div>
                        <!--
        <div class="row">
            <h3>Impact Type Rating</h3>
            <grade-table ratings="ImpactRating" rating-type="ratingModels.ImpactRating" is-impact-rating="true"></grade-table>
        </div> -->
        <button class="btn-success" ng-click="SubmitRating()" ng-disabled="SaveStatus === 'pending'">Save</button>
        <span class="save-status" ng-switch="SaveStatus">
            <span ng-switch-when="pending">
                Saving...
            </span>
            <span ng-switch-when="success">
                Saved Successfully
            </span>
        </span>
    </div>
</div>
