@model LEDE_MVC.Models.UploadViewModel

@{
    ViewBag.Title = "Upload";
}

@using (Html.BeginForm("Index", "TaskVersions", FormMethod.Post, new {enctype="multipart/form-data" }))
{
@Html.AntiForgeryToken()
<h2>Upload a Task</h2>

<p>    
    @Html.DropDownList("TaskID", null, "Select a Task to Upload", new { @class = "form-control" })   
    @Html.DropDownList("VersID", null, "Select Task Version", new { @class = "form-control" })   
</p>   
    <input type="file" name="file" /><br />
    <input type="submit" value="Postback" class="btn btn-default"/>
    
<table class="table">
    <tr>
        <th>
            Task
        </th>
        <th>
            First Name
        </th>
        <th>
            Version
        </th>
        <th>
            Rating Status
        </th>
        <th>
            Download Feedback
        </th>
    </tr>

    @foreach (var item in Model.TaskVersions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Task.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingStatus)
            </td>
            <td>
                @Html.ActionLink("Task", "Edit", new { id = item.VersID }) |               
                @Html.ActionLink("Feedback", "Details", new { id = item.VersID })
            </td>
        </tr>
    } 

</table>
}


