@model LEDE.Domain.Entities.CoreRating
@{
  AjaxOptions opts = new AjaxOptions()
  {
      Url = Model.TaskRating != null? Url.Action("Clear", new { RatingID = Model.RatingID, VersID = Model.TaskRating.VersID, Type="Task"}) : null,
      UpdateTargetId = "taskratings",
  };
}
@Html.HiddenFor(rating => rating.CoreTopicID)
@Html.HiddenFor(rating => rating.CoreTopic.CoreTopicNum)
@Html.HiddenFor(rating => rating.CoreTopic.CoreTopicDesc)
@Html.HiddenFor(rating => rating.CoreTopic.Status)
@Html.HiddenFor(rating => rating.CoreTopic.CoreTopicID)

@Html.HiddenFor(rating => rating.RatingID)
<tr>
    <td>
        @Model.CoreTopic.CoreTopicNum: @Model.CoreTopic.CoreTopicDesc
    </td>
    <td>
        @Html.TextBoxFor(rating => rating.Cscore, new { @class = "form-control" })
    </td>
    <td>
        @Html.TextBoxFor(rating => rating.Sscore, new { @class = "form-control" })
    </td>
    <td>
        @Html.TextBoxFor(rating => rating.Pscore, new { @class = "form-control" })
    </td>
    <td>
        @if (Model.TaskRating != null)
        {
            @Ajax.ActionLink("Clear","Clear",opts)
        }
    </td>
</tr>
