@model LEDE.Domain.Entities.CoreRating

@Html.HiddenFor(rating => rating.CoreTopicID)
@Html.HiddenFor(rating => rating.CoreTopic.CoreTopicNum)
@Html.HiddenFor(rating => rating.CoreTopic.CoreTopicDesc)
@Html.HiddenFor(rating => rating.CoreTopic.Status)
@Html.HiddenFor(rating => rating.CoreTopic.CoreTopicID)

@Html.HiddenFor(rating => rating.RatingID)
<tr>
    <td>
        @Model.CoreTopic.CoreTopicNum: @Model.CoreTopic.CoreTopicDesc
    </td>
    <td>
        @Html.TextBoxFor(rating => rating.Cscore, new { @class = "form-control" })
    </td>
    <td>
        @Html.TextBoxFor(rating => rating.Sscore, new { @class = "form-control" })
    </td>
    <td>
        @Html.TextBoxFor(rating => rating.Pscore, new { @class = "form-control" })
    </td>
    <td>
        @if (Model.TaskRating != null)
        {
            @Html.ActionLink("Clear", "Clear", new { VersID = Model.TaskRating == null ? 0 : Model.TaskRating.VersID, RatingID = Model.RatingID }, new { @class = "btn btn-default btn-xs" })
        }
    </td>
</tr>
