@using LEDE.Domain.Entities
@model CandidateIndexModel
@{
    ViewBag.Title = "Tasks";
}
    <div class="row page-header">
        <div class="col-md-3">
            <h2>Choose a Task</h2>
        </div>
        <div class="col md-8">
            @using (Html.BeginForm())
            {
                <h3>@Html.DropDownListFor(x => x.TaskID, Model.Tasks, new { onchange = "this.form.submit();", @class = "form-control" })</h3>

            }
        </div>
    </div>

    @using (Html.BeginForm("Upload", "Candidate", new { }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (Model.UploadVisible == false)
        {
            <h3>
                Previously Submitted
                &nbsp;&nbsp;
                @Html.ActionLink("Upload New", "Index", new { UploadVisible = true }, new { @class = "btn btn-default" })
            </h3>
        }
        else
        {
            @Html.HiddenFor(x => x.TaskID)            
            <input type="file" name="file"/>
            <input type="submit" value="Submit" class="btn btn-default" />
            @Html.ActionLink("Cancel", "Index", new { TaskID = Model.TaskID }, new {@class = "btn btn-default" })
            <h3>
                Previously Submitted
            </h3>
        }
    }

    <table class="table table-striped">
        <tr>
            <th>Performance Task</th>
            <th>Version</th>
            <th>Submission</th>
            <th>Date</th>
            <th>Feedback</th>
            <th>Date</th>
            <th>Action</th>
            <th></th>
        </tr>
        @foreach (TaskVersion version in Model.taskVersions)
        {
            <tr>
                <td>@version.Task.TaskCode @version.Task.TaskName</td>
                <td>@version.Version</td>
                <td>@Html.ActionLink(version.Document.FileName, "Index", new { DownloadID = version.DocumentID })</td>
                <td>@version.Document.UploadDate</td>
                @if (version.FeedbackDoc != null)
                {
                    <td>@Html.ActionLink(version.FeedbackDoc.FileName, "Index", new { DownloadID = version.FeedbackDocID })</td>
                    <td>@version.FeedbackDoc.UploadDate</td>
                }
                else
                {
                    <td>-</td>
                    <td>-</td>
                }
                @if (version.RatingStatus.Contains("Complete"))
                {
                     <td>@Html.ActionLink("View Score", "Score", new { VersID = version.VersID }, new { @class = "btn btn-default btn-sm" })</td>
                }
                else
                {
                     <td>@Html.ActionLink("Delete", "Index", new { DeleteID = version.DocumentID }, new { @class = "btn btn-default btn-sm" })</td>                    
                }
                <td></td>
            </tr>
        }
    </table>
